@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: Rubik, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: auto;
  height: auto;
}

.bars::after,
.bars::before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 2px;
  background-color: white;
  margin: 10px;
  transition: transform 0.2s ease-in-out;
}
@keyframes slider {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.slider {
  animation: slider 9s linear 0s infinite normal;
}
.loader {
  display: inline-block;
  background: 0 0/200% 100% no-repeat #222;
  background-image: linear-gradient(
    to right,
    #222 0,
    #333 25%,
    #555 50%,
    #333 75%,
    #222 100%
  );
  animation: 1.5s ease-in-out infinite loader;
}
@keyframes loader {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
.scrollbox {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x proximity;
}
.scrollbox::-webkit-scrollbar {
  display: none;
}
.productBoxItems {
  position: absolute;
  width: 100%;
  right: 0;
  background: #080808e8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  transition: all 200ms ease-out;
}

.imp-btn {
  text-transform: uppercase;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-wrap: nowrap;
  white-space: nowrap;
}
.imp-btn:hover {
  opacity: 1;
}

.text-muted {
  color: #a1a1aa;
}
.box {
  background: transparent;
  border-radius: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border: 1px solid #ffffff40;
  padding: 0.75rem;
  width: 100%;
  margin: 0.5rem 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
